<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de Login">
    <meta name="keywords" content="login, sistema de gestão">
    <title>Login - Sistema de Gestão</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="../static/login.css">

</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Login</h2>

            <!-- Mensagens de alerta -->
            <div class="messages">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <!-- Formulário de login -->
            <form action="/login" method="POST">
                <div class="input-group">
                    <label for="username">Usuário</label>
                    <input type="text" name="username" id="username" placeholder="Digite seu usuário" required>
                </div>
                <div class="input-group">
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password" placeholder="Digite sua senha" required>
                </div>
                <div class="form-actions">
                    <input type="submit" value="Entrar">
                </div>
            </form>

            <!-- Botão Voltar -->
            <a href="{{ url_for('principal') }}" class="btn btn-back">Voltar</a>                  
            
        </div>
    </div>
</body>
</html>