<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="../static/principal.css">

</head>

<body>

    <header>
        <!-- Adicionando a logo no topo -->
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">

    </header>

    <section>
        <!-- Exibição de mensagens de sucesso com flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert" id="flash-message">
                    {{ messages[0][1] }}
                </div>
            {% endif %}
        {% endwith %}

        <div class="buttons-container">
            <a href="{{ url_for('login') }}" class="btn">Login</a>
            <!-- Novo botão para Chamado -->
            <a href="{{ url_for('chamado') }}" class="btn">Chamado</a>
        </div>
    </section>

    <script>
        // Espera o DOM ser carregado
        window.onload = function () {
            const flashMessage = document.getElementById('flash-message');
            if (flashMessage) {
                // Após 3 segundos, oculta a mensagem
                setTimeout(function () {
                    flashMessage.style.display = 'none';
                }, 3000); // 3000 milissegundos = 3 segundos
            }
        };
    </script>

</body>

</html>