<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sistema de Gestão de Solicitações de Impressão">
    <meta name="keywords" content="impressão, solicitações, gestão">
    <title>Solicitações de Impressão</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/solicitacoes.css">

</head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; color: #333; padding: 20px;">


    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #e2e2e2;">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <span class="navbar-brand">Solicitações</span>
                </li>
                
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/index" class="btn mr-4">Voltar</a>
            </ul>
        </div>
    </nav>

    <!-- Mensagens de feedback -->
    {% with mensagens = get_flashed_messages(with_categories=true) %}
        {% if mensagens %}
        <div class="alert alert-{{ mensagens[0][0] }} alert-dismissible fade show" role="alert">
            {{ mensagens[0][1] }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
    {% endwith %}

    <!-- Formulário para Solicitação -->
    <form id="solicitacaoForm" action="{{ url_for('solicitacoes') }}" method="POST">
        <h2 class="titulo-solicitacoes">Registrar Solicitação</h2>

        <div class="form-group">
            <label for="tipo_impressao">Tipo de Impressão</label>
            <select class="form-control" id="tipo_impressao" name="tipo_impressao" required onchange="toggleQuantidadeField()">
                <option value="nao_desejo_impressao">Não desejo impressão</option>
                <option value="preto_e_branco">Preto e Branco</option>
                <option value="colorido">Colorido</option>
            </select>
        </div>

        <!-- Campo Quantidade de Impressões que será mostrado quando o tipo de impressão for selecionado -->
        <div class="form-group" id="quantidade-group" style="display: none;">
            <label for="quantidade">Quantidade de Impressões</label>
            <input type="number" class="form-control" id="quantidade" name="quantidade" min="1">
        </div>

        <div class="form-group">
            <label for="plastificacao">Plastificação</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="plastificacao" name="plastificacao">
                <label class="form-check-label" for="plastificacao">Sim</label>
            </div>
        </div>

        <div class="form-group">
            <label for="encadernacao">Encadernação</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="encadernacao" name="encadernacao">
                <label class="form-check-label" for="encadernacao">Sim</label>
            </div>
        </div>

        <div class="form-group">
            <label for="refilagem">Refilagem</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="refilagem" name="refilagem">
                <label class="form-check-label" for="refilagem">Sim</label>
            </div>
        </div>

        <div class="form-group">
            <label for="solicitante">Solicitante</label>
            <input type="text" class="form-control" id="solicitante" name="solicitante" required>
        </div>

        <div class="form-group">
            <label for="departamento">Departamento</label>
            <input type="text" class="form-control" id="departamento" name="departamento" required>
        </div>

        <button type="submit" class="btn btn-block">Registrar Solicitação</button>
    </form>

    <hr>

    <script>
        // Função para mostrar ou esconder o campo de quantidade de impressões
        function toggleQuantidadeField() {
            var tipoImpressao = document.getElementById('tipo_impressao').value;
            var quantidadeGroup = document.getElementById('quantidade-group');

            if (tipoImpressao === "nao_desejo_impressao") {
                quantidadeGroup.style.display = 'none';
                // Remove a quantidade do formulário
                document.getElementById('quantidade').removeAttribute('required');
            } else {
                quantidadeGroup.style.display = 'block';
                document.getElementById('quantidade').setAttribute('required', 'required');
            }
        }

        // Inicializa a exibição correta do campo de quantidade ao carregar a página
        window.onload = toggleQuantidadeField;
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>